.page_link{display:inline-block; padding:3px}

#page_navigation{
	display:inline-block;
	margin: 20px 2px;
}

#page_navigation a{
	color:#4C87AF;
	float:left;
	padding: 8px 16px;
	border-radius: 5px;
	transition: background-color: .3s;
	border: 1px solid #ddd;
	margin: 30 4px;
	font-size: 14px;
}

#page_navigation a.active{
	background-color: #4C76AF;
	color:white;
	border-radius: 5px;
}

#page_navigation a:hover:not(.active){
	background-color: #ddd;
}

.search{
	margin: 2px 2px;
	padding: 8px 16px;
}
